.header {
  margin: 0 auto;
  padding: 18px 70px;
  display: flex;
}

.header_log {
  max-width: 396px;
  display: flex;
  margin: 0 auto;
  padding-top: 70px;
}

@media screen and (max-width: 1160px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .header_log {
    padding-top: 56px;
    justify-content: center;
  }
}